[build-system]
requires = ['poetry-core']
build-backend = 'poetry.core.masonry.api'


[tool.black]
include = '\.pyi?$'
line-length = 100
target-version = ['py38', 'py39', 'py310', 'py311']


[tool.mypy]
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
ignore_missing_imports = true


[tool.poetry]
authors = ['Sitt Guruvanich <aekazitt+github@gmail.com>']
description = 'Scheduler middleware for ASGI frameworks'
license = 'MIT'
name = 'orloj'
packages = [{include='orloj'}]
readme = 'README.md'
version = '0.1.3'


[tool.poetry.dependencies]
APScheduler = '>=4.0.0a4,<5.0.0'
python = '^3.8'
starlette = '<0.37.2'


[tool.poetry.group.dev]
optional = true


[tool.poetry.group.dev.dependencies]
black = '^23.11.0'
mypy = '^1.7.1'
pytest = '^7.4.3'


[tool.poetry.group.examples]
optional = true


[tool.poetry.group.examples.dependencies]
fastapi = '^0.109.0'
uvicorn = '^0.15.0'
